.section {
  position: relative;
  min-height: 75vw;
  width: 100%;
  /* overflow: hidden;  */
}
.container {
  width: 100%;
  position: relative;
}
.rainbowImage {
  width: 100vw;
  height: auto;
}
.heartImage_1 {
  position: absolute;
  top: 13vw;
  left: 74vw;
  width: 7vw;
  height: auto;
}
.heartImage_2 {
  position: absolute;
  top: 45vw;
  left: 55vw;

  width: 7vw;
  height: auto;
}
.heartImage_3 {
  position: absolute;
  top: 37vw;
  left: 10vw;
  width: 7vw;
  height: auto;
}

.container_block_images {
width: 100%;
height: auto;
}
.block_elipse {
position: relative;
top: 15vw;
left: 18vw;
}
.elipse_sm {
width: 14.9vw;
height: auto;
position: absolute;


}
.elipse_sm_image {
width: 12.39vw;
height: auto;
position: absolute;
  top: -0.52vw;
  left: 1vw;
 
}
.elipse_text,
.circle_1_text,
.circle_1_text  {
 
  
  position: absolute;
  top: 17vw;
  left: 0vw;
  font-size: 1.35vw;
  color: rgb(155, 112, 101);
  letter-spacing: 0.52vw;
  font-weight:400;
  cursor: pointer;
  font-family: "Paytone One", sans-serif;
}


.block_circle_1 {
position: relative;
top: 20vw;
left: 43vw;
}

.circle_sm_1 {
width: 14.9vw;
height: auto;
position: absolute;
}
.circle_sm_1_image {
width: 12.39vw;
height: auto;
position: absolute;
  top: -2.7vw;
  left: 1vw;
}


.block_circle_2 {
position: relative;
top: 25vw;
left: 69vw;
}

.circle_sm_2 {
width: 14.9vw;
height: auto;
position: absolute;
}
.circle_sm_2_image {
width: 11vw;
height: auto;
position: absolute;
  top: -1.7vw;
  left: 1.9vw;
}





@media (min-width: 570px) and (max-width: 1200px) {
  .section {
    position: relative;
    min-height: 90vw;
    width: 100%;
    /* overflow: hidden;  */
  }

  .rainbowImage {
    width: 105vw;
    height: auto;
  }

  .heartImage_1 {
    width: 8vw;
    height: auto;
  }
  .heartImage_2 {
    width: 8vw;
    height: auto;
  }
  .heartImage_3 {
    width: 8vw;
    height: auto;
  }
}

@media (min-width: 360px) and (max-width: 570px) {
  .section {
    position: relative;
    min-height: 90vw;
    width: 100%;
    overflow: hidden;
  }

  .rainbowImage {
    width: 120vw;
    height: auto;
  }
  .heartImage_1 {
    width: 9vw;
    height: auto;
  }
  .heartImage_2 {
    width: 9vw;
    height: auto;
  }
  .heartImage_3 {
    width: 9vw;
    height: auto;
  }
}
