.container {
  display: flex;
  flex-direction: column; 
  /* scroll-behavior: smooth; плавный скролл */
  width: 100%;
  height: 100dvh;
   /* position: relative;
   display: block; */
}

/* Убедимся, что все секции ведут себя как блоки */
/* .container > * {
    position: relative;
  display: block;
  width: 100%;
}  */
 
